[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
[submodule "nativefiledialog-extended"]
	path = nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
